/* based on the class */
.intro {
  color: red;
  background-color: yellow;
} 

 /* create selectors based on the id attribute of elements. */
#intro {
  color: red;
  background-color: yellow;
} 

li strong {
  color: purple;
} 